docker/ssh/config/authorized_keys
jenkins-data
docker/vault/data
docker/vault/vault-cluster*.json
docker/jenkins/vault-data
docker/jenkins/vault-config/init-token.json
.ssh_keys
# **/**/*.env
.*.key
docker/gnupg/data/.*.key
**/*.terraform.lock.hcl
ssh/config
ssh/scripts
*.tfstate
*.terraform
*.tfstate.backup
*.DS_Store
*.***.DS_Store
docker/skaffold/**/**
# **/generate-key-config.txt
# **/jenkins.env.dec
