repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: git://github.com/antonbabenko/pre-commit-terraform
    rev: v1.50.0
    hooks:
      - id: terraform_fmt
      - id: terraform_docs # install terraform docs to use this hook https://github.com/terraform-docs/terraform-docs
      # - id: terraform_tflint # install terraform lint to use this hook https://github.com/terraform-linters/tflint
